.controller.ds4 {
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/863356719472443402/sheesh.png);
    height: 1500px;
    width: 1808px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}
