/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/844177652268400640/Manette_V2.png);
    height: 1100px;
    width: 1198px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/844177652268400640/Manette_V2.png);
}

.xbox.disconnected {
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/808245130803806238/Disconnected.png);
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 240px;
    top: 32px;
}

.xbox .trigger {
    width: 142px;
    height: 195px;
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/822495085798883388/trigger.png);
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    position: absolute;
    transform: rotateY(180deg);
    left: 577px
}

.xbox .bumper {
    width: 257px;
    height: 98px;
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/822494193834262578/Bumper.png);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 179px;
    top: 258px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    position: absolute;
    left: 582px;
    transform: rotateY(180deg);
}

.xbox .quadrant {
    position: absolute;
    background: url();
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

.xbox .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.xbox .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.xbox .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.xbox .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/808089339702542356/Settings.png);
    width: 57px;
    height: 57px;
    position: absolute;
    top: 197px;
    left: 177px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    float: left;
}

.xbox .start {
    background-position: 57px 0px;
    float: right;
    position: absolute;
    left: 353px;
}

.xbox .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 192px;
    left: 488px;
}

.xbox .button {
    position: absolute;
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/822494742193373254/button.png);
    width: 84px;
    height: 84px;
}

.xbox .button.pressed {
    background-position-y: -86px;
    margin-top: 250px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 91px;
    left: 383px;
}

.xbox .b {
    background-position: -84px 0;
    top: 14px;
    right: -397px;
}

.xbox .x {
    background-position: -168px 0;
    top: 10px;
    left: 301px;
}

.xbox .y {
    background-position: -252px 0;
    left: 385px;
    top: -71px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.xbox .stick {
    position: absolute;
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/822482766327185438/joystick.png);
    background-position: 0px 0px;
    height: 144px;
    width: 144px;
}

.xbox .stick.pressed {
    background-position: 144px 0px;
}

.xbox .stick.left {
    top: 178px;
    left: 71px;
}

.xbox .stick.right {
    top: 360px;
    left: 544px;
}

.xbox .dpad {
    position: absolute;
    width: 338px;
    height: 99px;
    top: 653px;
    left: 340px;
}

.xbox .face {
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/822460482417459220/Arrows.png);
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    opacity: 1;
}

.xbox .face.up {
    background-position: 169px 0;
    left: 62px;
    top: -62px;
    width: 72px;
    height: 99px;
}

.xbox .face.down {
    background-position: 241px 0px;
    left: 63px;
    top: 36px;
    width: 72px;
    height: 97px;
}

.xbox .face.left {
    background-position: 0px 0px;
    width: 96px;
    height: 73px;
    top: 0px;
    left: 2px;
}

.xbox .face.right {
    background-position: 95px 0px;
    width: 95px;
    height: 71px;
    top: 2px;
    right: 143px;
}

.xbox.half {
    margin-top: -315px;
}

.xbox {
    background: no-repeat center;
}

/*END Xbox One Controller Styling*/
