.controller.xbox { background: url("https://cdn.discordapp.com/attachments/557305648006823956/863385351387873310/sheesh_XBOX.png"); height: 1500px; width: 1808px; }
.xbox .trigger { width: 99px; height: 100%; background: url(""); opacity: 0; }
.xbox .bumper { width: 99px; height: 23px; background: url("") no-repeat; opacity: 0; }
.xbox .button { position: absolute; width: 55px; height: 55px; background: url(""); }
.xbox .stick { position: absolute; background: url(""); height: 94px; width: 94px; }
.xbox .face { background: url(""); position: absolute; }
.xbox .touchpad.pressed {
    background: url() no-repeat center;
}
.xbox .back, .xbox .start {
    background: url();
    width: 27px;
    height: 47px;
    opacity: 0;
}
